# Node environment
# NODE_ENV=development
# NODE_ENV=production

# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000
# NEXT_PUBLIC_BASE_URL=https://your-static-sub-domain.ngrok-free.app

# Traefik Configuration
VPS_SUB_DOMAIN=front
VPS_DOMAIN=local.dev

# Prisma
# DATABASE_URL=mysql://nextjs-deploy-user:nextjs-deploy-password@localhost:3306/nextjs-deploy-db
DATABASE_URL=mysql://nextjs-deploy-user:nextjs-deploy-password@mysql:3306/nextjs-deploy-db

# Mysql (for DB scripts)
# MYSQL_HOST=localhost
MYSQL_HOST=mysql

# Mysql (for DB scripts)
MYSQL_ROOT_PASSWORD=root

# Mysql Container
MYSQL_DATABASE=nextjs-deploy-db
MYSQL_USER=nextjs-deploy-user
MYSQL_PASSWORD=nextjs-deploy-password

# Better Auth encryption key
BETTER_AUTH_SECRET=session-encryption-key
