@import "tailwindcss";
@import "tw-animate-css";

@source "../components";

@custom-variant dark (&:where(.dark, .dark *));

/* Light theme */
:root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 5%);

    --color-primary: hsl(207, 80%, 60%);
    --color-primary-100: hsl(207, 80%, 50%);
    --color-primary-200: hsl(207, 80%, 40%);
    --color-primary-300: hsl(207, 80%, 30%);
    --color-primary-400: hsl(207, 80%, 20%);

    --color-destructive: hsl(0, 80%, 40%);
    --color-outline: hsl(176, 80%, 40%);

    /* Gray colors from background 100% to foreground 5% */
    --g50: calc(100 - 4);
    --g100: calc(var(--g50) - 6);
    --g200: calc(var(--g100) - 6);
    --g300: calc(var(--g200) - 8);
    --g400: calc(var(--g300) - 13);
    --g500: calc(var(--g400) - 9);
    --g600: calc(var(--g500) - 13);
    --g700: calc(var(--g600) - 11);
    --g800: calc(var(--g700) - 8);
    --g900: calc(var(--g800) - 8);
    --g950: calc(var(--g900) - 5);
}

/* Dark theme */
.dark {
    --background: hsl(0, 0%, 5%);
    --foreground: hsl(0, 0%, 95%);

    --color-primary: hsl(207, 80%, 60%);
    --color-primary-100: hsl(207, 80%, 50%);
    --color-primary-200: hsl(207, 80%, 40%);
    --color-primary-300: hsl(207, 80%, 30%);
    --color-primary-400: hsl(207, 80%, 20%);

    --color-destructive: hsl(0, 80%, 40%);
    --color-outline: hsl(176, 80%, 40%);

    /* Gray colors from background 5% to foreground 95% */
    --g50: calc(5 + 6);
    --g100: calc(var(--g50) + 6);
    --g200: calc(var(--g100) + 7);
    --g300: calc(var(--g200) + 9);
    --g400: calc(var(--g300) + 9);
    --g500: calc(var(--g400) + 8);
    --g600: calc(var(--g500) + 12);
    --g700: calc(var(--g600) + 10);
    --g800: calc(var(--g700) + 8);
    --g900: calc(var(--g800) + 5);
    --g950: calc(var(--g900) + 5);
}

/* Theme mapping for non-tailwind variables */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--color-primary);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);

    --color-destructive: var(--color-destructive);
    --color-outline: var(--color-outline);
}

/* Theme extensions */
@theme {
    /* Breakpoints extension for mobile  */
    --breakpoint-3xs: 320px; /* - 96px */
    --breakpoint-2xs: 416px; /* - 96px */
    --breakpoint-xs: 512px; /* - 128px */
    /* Breakpoints default based on absolute units */
    --breakpoint-sm: 640px; /* Base */
    --breakpoint-md: 768px; /* + 128px */
    --breakpoint-lg: 1024px; /* + 256px */
    --breakpoint-xl: 1280px; /* + 256px */
    --breakpoint-2xl: 1536px; /* + 256px */
    /* Breakpoints extension for larger screens */
    --breakpoint-3xl: 1920px; /* + 384px */

    /* Text sizes extension */
    --text-3xs: 0.5rem; /* 8px */
    --text-3xs--line-height: calc(1 / var(--text-3xs));
    --text-2xs: 0.625rem; /* 10px */
    --text-2xs--line-height: calc(1 / var(--text-2xs));

    /* Gray colors */
    --color-gray-50: hsl(0, 0%, calc(var(--g50) * 1%));
    --color-gray-100: hsl(0, 0%, calc(var(--g100) * 1%));
    --color-gray-200: hsl(0, 0%, calc(var(--g200) * 1%));
    --color-gray-300: hsl(0, 0%, calc(var(--g300) * 1%));
    --color-gray-400: hsl(0, 0%, calc(var(--g400) * 1%));
    --color-gray-500: hsl(0, 0%, calc(var(--g500) * 1%));
    --color-gray-600: hsl(0, 0%, calc(var(--g600) * 1%));
    --color-gray-700: hsl(0, 0%, calc(var(--g700) * 1%));
    --color-gray-800: hsl(0, 0%, calc(var(--g800) * 1%));
    --color-gray-900: hsl(0, 0%, calc(var(--g900) * 1%));
    --color-gray-950: hsl(0, 0%, calc(var(--g950) * 1%));
}
